### Frontend ###
node_modules/
Fronted/node_modules/
Fronted/dist/

### Environment variables ###
.env
.env.local
.env.*.local

### Backend ###
Backend/backend/target/

### IntelliJ IDEA ###
.idea/
*.iml